---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

input {
	margin-right: 0.6em;
}

ul.task-list {padding-left:18px;}

/*
Recommendations for user agents - https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3
*/

.prose a:link { color: #0000EE; }
.prose a:visited { color: #551A8B; }
.prose a:link { text-decoration: underline; cursor: pointer; }

/*
<kbd>: The Keyboard Input element - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
*/

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }
   
@media (min-width: 52em) { .h0 { font-size: 96px; } }